<div id="contato">
    <h1>fale conosco</h1>

    <div class="container">
        <form action="sendmail.php"  method="POST">
            
            <input name="name" class="form-control" placeholder="Nome"  type="text" required>

            <input name="email" class="form-control" placeholder="E-Mail" type="email" required>

            <input name="subject" class="form-control" placeholder="Assunto"  type="text" required>

            <textarea name="message" class="form-control" placeholder="Observações" rows="3" required></textarea>

            <button type="submit" class="btn btn-primary btn-form">Enviar Mensagem</button>

        </form>
    </div>

</div>