.btn-me-primary{
    background-color: $color-blue;
    border-color: $color-blue;
    color: $color-white;
    &:hover{
        background-color: $color-blue-dark;
        border-color: $color-blue-dark;
        color: $color-white;
    }
}